[2019-12-18 21:04] tyarkoni opened #1 "Improved packaging"
The current `setup.py` is pretty barebones. We should beef it up, add versioneer support, make sure we have a separate installation option that includes the optional dependencies (e.g., PyStan, ArviZ), etc.

[2019-12-18 21:06] tyarkoni opened #2 "Add CI support"
Add support for travis/circle and codecov.

[2019-12-18 21:15] tyarkoni opened #3 "Support estimators that don't require study-level variances"
Currently, all supported estimators depend on the availability of both estimates and variances from individual studies. We should add estimation capabilities that relax this requirement.

One option is to add separate estimation methods like Fisher's method, Stouffer's z, or a t-test-style random-effects model, but an alternative I think I prefer is to add a `weights` argument to any estimator tha

[2019-12-18 21:19] tyarkoni opened #4 "Add permutation-based p-value and CIs"
Currently, for the frequentist estimators, p-values and CIs are computed using WLS for the fixed effects and the Q-profile method for tau^2. We may want to consider adding support for permutation-based stats.

[2019-12-18 21:22] tyarkoni opened #5 "Beef up the results objects"
The current `MetaRegressionResults` object is pretty barebones and intended only as a prototype. Minimally, we should:
* [ ] Implement the skeleton `summary()` and `plot()` methods.
* [ ] Add a `__repr__` method (possibly just aliased to `summary()`) that includes information about the dataset and estimation (the current `to_df()` method provides only estimate details).
* [ ] Consider better repre

[2019-12-18 21:24] tyarkoni opened #6 "Add Sphinx support"

[2019-12-18 22:04] #2 closed

[2019-12-18 22:04] #6 closed

[2019-12-18 22:05] tyarkoni commented on #1
I'll go ahead and close this—I think this is a good start, and we can open a more specific issue if needed. Thanks!

[2019-12-18 22:05] #1 closed

[2019-12-28 23:10] tyarkoni opened #10 "Automatically compute the Jacobian for use in minimization"
Currently the ML/REML estimates are generated via derivative-free optimization (using the BFGS solver). This works fine for the test cases, but is likely to be slower and less stable than using the gradients. It should be straightforward to compute the Jacobian matrix for the log-likelihood functions via [Jax](https://github.com/google/jax)/autograd and pass it to `scipy.optimize.minimize` alongsi

[2020-01-27 18:50] tyarkoni commented on #10
I experimented with this a bit and it doesn't look very promising. Aside from having to replace most vanilla numpy calls with jax's implementation (which doesn't support all of numpy, and produces slightly different numerical results), optimizer performance actually degrades considerably when the Jacobian is passed. I'm closing this for now, and we can always revisit it later.

[2020-01-27 18:50] #10 closed

[2020-01-29 18:18] tyarkoni opened #12 "Add effect size module"
We should add functionality that allows easy conversion between effect size measures.

[2020-03-05 21:28] tyarkoni opened #14 "Read expression list from JSON file and allow user to load custom list"
With an eye to NiMARE integration, it would be nice to allow users to override the list of expressions used in effect size conversion. An easy way to support this would be to read the expression in from JSON, and then create a manager/config class that can take an external JSON file containing the expressions).

[2020-03-06 15:19] tsalo opened #16 "Implement NiMARE IBMA estimators in PyMARE"
- Fisher's
- Stouffer's (t-test on z-statistics)
- Stouffer's with empirical null distribution (null derived from sign flipping)
- Weighted Stouffer's
- RFX GLM (t-test on estimates)
- RFX GLM with empirical null distribution (null derived from sign flipping)

[2020-03-06 21:42] tyarkoni opened #19 "Extend effect size calculation"
After discussion, we've decided do the following:
* Retain the current `EffectSizeCalculator` in more or less the same form.
* Wrap the ES calculator with a function that passes all inputs through the the calculator, with the exception of a `measure` argument that specifies what the target measure for analysis is. The returned value is a `Dataset`, where the key attributes are now set to the trans

[2020-03-07 17:12] nicholst opened #21 "Decide on a specific scope of PyMARE"
Need to clarify, once and for all, which meta-analysis functionality will and will not be supported by PyMARE.

Presently we have, for continuous Gaussian responses
* Fixed effects meta-regression
* Random effects meta-regression
* Random effects meta-regression, where study-level variance is unknown
* "Combining" measures, Fishers & Stouffer's (coming soon)

The plan is to provide conversion tool

[2020-03-09 17:21] tyarkoni commented on #21
Cochran's Q is already used to find CIs for most of the methods, so exposing it to users is easy.

Permutation is definitely on the agenda, but vectorization may not be, depending on what you mean. It should be easy to vectorize the permutation generation, and we should definitely do that. But if you're talking about vectorizing over datasets (e.g., making it efficient to do multiple voxels at the

[2020-05-01 18:15] #12 closed

[2020-05-02 00:30] tyarkoni commented on #3
This was addressed in #22, so closing.

[2020-05-02 00:30] #3 closed

[2020-05-05 01:44] tyarkoni commented on #4
Closing: permutation testing was added in #27, and bootstrapped CIs can't be easily vectorized, so they're a lower priority (see #27 for explanation).

[2020-05-05 01:44] #4 closed

[2020-05-05 01:51] tyarkoni commented on #21
@nicholst I'm closing this because everything on your original list is now already implemented, or should be straightforward. The exception is vectorized permutation testing, which *is* implemented in 2d, but would be much harder to do in 3d (aside from complicating the linear algebra, we'd also need to operate in batches or memory-map, which would introduce an added level of complexity). So doing

[2020-05-05 01:51] #21 closed

[2020-05-07 19:08] tyarkoni commented on #14
Closing this; we do now read from a JSON list as of #26, and I think user-supplied expression lists are probably a bit of a liability at the moment (because they could interfere with the predefined expressions), without a clear use case.

[2020-05-08 17:00] #19 closed

[2020-05-08 21:35] tyarkoni commented on #16
I'm working on this now. I'm on board with adding Stouffer's, but I don't think we need the others:

* The "RFX GLM" is unnecessary because we already have a `WeightedLeastSquares` estimator that defaults to OLS if no variances are passed (well, it doesn't currently, but it's about to), and I believe that's identical to the proposal here.
* Fisher's seems to me to have little utility because it pr

[2020-05-08 22:30] nicholst commented on #16
Agree about RFX GLM, but Fisher’s is really ubiquitous... I won’t drop it. (You can find generalizations that include weights, if that’s the key thing).  In my experience it can be a touch better than Stouffer's as it can be driven by a handful of strong results. (I know,  not usually a feature, but in the FFX world that’s Ok).

[2020-05-08 22:41] tyarkoni commented on #16
Okay, will add it as well. Thanks for the quick feedback!

[2020-05-10 21:00] #16 closed

[2020-05-10 23:37] tsalo opened #31 "Releases on Zenodo"
Now that PyMARE is releasing on PyPi, should we also do the same on Zenodo?

[2020-05-10 23:39] tyarkoni commented on #31
Oh, good idea, I'll add that.

[2020-05-10 23:42] tyarkoni commented on #31
BTW, have you started wrapping PyMARE in NiMARE yet? If not, I'm happy to take a stab at it. I'll probably just replace my existing PR wholesale.

[2020-05-10 23:43] tsalo commented on #31
No I haven't started that yet. I'm not familiar enough with PyMARE yet. I was going to take a crack at the docs and some examples to help myself with that first.

[2020-05-10 23:52] tyarkoni commented on #31
Sounds good—docs and examples would be great. I have some thoughts on how we might want to implement the wrapper classes, but will open an issue for discussion on the NiMARE repo.

[2020-05-11 17:26] tsalo commented on #14
I thought the use-case was https://github.com/neurostuff/NiMARE/issues/170 (esp. https://github.com/neurostuff/NiMARE/issues/170#issuecomment-595459194)?

[2020-05-11 18:39] tyarkoni commented on #14
Ohhh, right, I'd forgotten about that. Thanks for the reminder. Re-opening.

[2020-06-11 17:17] tsalo opened #36 "CombinationTest p-values incorrect"
I am working on a more comprehensive example for Estimators, and I noticed that the p-value for Stouffer's results was close to 1.0, even though I don't think it should be.

Please see [this notebook](https://github.com/tsalo/misc-notebooks/blob/1bbde1d2f63adb0e09c1afa2cf0fc97e3e9b4198/pymare_example.ipynb) for the code used to see this.

EDIT: To summarize the thread below- the p-values are being

[2020-06-11 18:10] tyarkoni commented on #36
I'll take a look, but I think that may be right, subject to loss of precision. The p-value is two-sided, so you can think of it as p = 0, where z > 0. Of course it isn't really zero, it should be some very small number. But many of scipy's stats functions aren't very good about preserving precision, and given a z of 24, I'm not surprised you get a result of `1.0`.

[2020-06-11 18:29] tyarkoni commented on #36
BTW, in case you're wondering why we don't just return two-tailed p-values (i.e., `0` when z is both positive and negative), it's because for the Stouffer and Fisher estimators, there's no information other than p and z to work with. Given that you can pass in p-values as inputs, it's essential to preserve tail information. This is a bit unfortunate given that it deviates from the p-values returne

[2020-06-11 18:44] tsalo opened #37 "Clarify or check Estimator input shapes"
I was trying to run one of the Estimators using `weighted_least_squares` without initializing a Dataset and was getting confusing errors from `numpy.einsum` before I realized that inputs need to be 2D no matter what. We can coerce 1D inputs to 2D with a new `Estimator._validate_inputs()` method, or we can just update the docstrings to clarify requirements.

BTW, based on variable convention, I thi

[2020-06-11 19:01] tsalo commented on #36
I think I must have just misunderstood the test.

In the absence of weights (`v`), and using z-values instead of p-values, the test first calculates the FFX stat as `sum(input) / sqrt(n_inputs)`, and then uses `scipy.stats.norm.cdf` to get the associated right-sided p-value. So if the FFX stat is 1.65, the estimator's p-value is ~0.95.

Isn't the purpose of the test to see if the FFX stat is signi

[2020-06-11 19:06] tyarkoni commented on #37
The intended usage pattern for `fit()` is actually to always pass in a `Dataset` (that will do the reshaping for you automatically). The only reason `**kwargs` are accepted, and I'm not entirely happy with it, TBH, is because of the `Stouffers` and `Fishers` estimators, which take non-standard arguments that don't make sense to put in a `Dataset`. Given that you ran into this already, and others p

[2020-06-11 19:10] tsalo commented on #37
Then it sounds like dropping `**kwargs` and giving `CombinationTest` its own `fit` is the best way to go. I'll change the title and update the summary. Thanks!

Are Datasets going to still be the preferred inputs for vectorized calls (e.g., https://github.com/neurostuff/NiMARE/issues/211)?

[2020-06-11 19:11] tyarkoni commented on #37
Oh, but note also that there's an `ensure_2d` helper in `stats` you can call if you want to make sure your variables are in the right shape to pass to `fit()`. I just don't know that we want to make that mandatory, as it does add a tiny bit of overhead, which could add up if you're running in a loop (e.g., over voxels).

[2020-06-11 19:14] tyarkoni commented on #37
It's probably worth doing a bit of profiling to see how much overhead the `Dataset` adds. My guess is that as long as you're not naively looping, it's too little to worry about. In the case where you're doing something massively parallel, I think the optimal approach is to ensure that your variables are already in the desired (2d) form in each iteration, and then call `fit()` (or even `_fit(), if

[2020-06-11 19:33] tyarkoni commented on #36
Actually, using `sf` probably makes sense for the sake of improved precision (ironically, I had already switched from `cdf` to `sf` for this reason in `MetaRegressionResults.get_fe_stats()`, I just didn't do it for `CombinationTestResults.p()`). But it won't solve the issue you're raising, because `sf` is just `1 - cdf`, so if your z score had been `-24`, you would just end up with p ~ 1.0, which

[2020-06-12 05:58] nicholst commented on #36
Hi @tyarkoni @tsalo,

Firstly, in the notebook
[code]
this is just an error, unless we intended to implement one-sided left-tailed p-value.

Secondly, I think the fundamental issue Anderson tackled very nicely in his [Combining paper's Figure 3](https://pubmed.ncbi.nlm.nih.gov/26848101/#&gid=article-figures&pid=figure-3-uid-2).

In short, he distinguished combining directed (one-sided), non-direct

[2020-06-13 10:48] nicholst commented on #36
I just realised that I had an error in my comment... I said two-sided Stouffer's takes Z's by just doing `np.abs(z)` but that's wrong... you can't can't truncate Z values like that ... you have to map them into all possible z's (-inf,inf), just like is done for t-values.  I've edited the comment above to fix this.

[2020-06-14 16:41] tsalo commented on #36
Thanks @nicholst! So, in terms of the `p_type` argument, it seems like it's a matter of a small bug fix. I can open a PR with that soon.

You're also proposing that we add a new argument (e.g., `mode`) to determine the hypothesis to be tested, correct? I can take a crack at that, although I'll probably split the changes into two PRs and create a separate issue as well.

The other thing you mention

[2020-06-14 18:55] nicholst commented on #36
Hi @tsalo, yes, I guess letting the function know the type of p-value is crucial, and agree `mode` is a new argument to add.

About t vs z, I'm not too fussed.  I thought accepting t's would be a helpful service, but it's trivial for a user to do if we don't want to add it.  Thoughts, @tyarkoni ?

[2020-06-15 14:57] tyarkoni commented on #36
The above all makes sense to me, and I like the idea of adding a concordant mode. But I'm still concerned about confusion on the user's part as a result of having to separately specify both the type of p-value being passed as input, and the mode of the test being performed. The mapping is kind of messy, in that if you start with one-sided p-values, you're constrained to a one-sided combination tes

[2020-06-15 16:11] tsalo commented on #36
@tyarkoni That works for me. I spent some time yesterday trying to figure out how to implement it all and kept coming up against weird behaviors, so I'm happy to walk away from it for awhile.

[2020-06-15 16:13] nicholst commented on #36
OK... sounds like you have API work to do... let me know if I can weigh in.

But just to clarify: *concordant* mode only makes sense for one-sided p-values.  Concordance doesn't make sense for two-sided (you'd never check for two-sided p-values being consistently near 1, as that simply means the effect was near 0, not showing evidence of an effect in the other direction).

[2020-06-15 16:25] tyarkoni commented on #36
@nicholst argh, yes, sorry, I keep getting tripped up on this. I was also wrong about two-sided p-values being compatible with any mode; they're actually pretty worthless if passed in as input, because the only null you can test is the weird one I mentioned earlier in the thread. It's actually one-sided p-values that we want as input. I think what keeps tripping me up is that for the combination t

[2020-06-15 16:49] nicholst commented on #36
Yes, I think forbidding p-values as input is a good idea... too much ambiguity and potential precision loss.

Then there is the issue if you're going to allow z and t.  Seems like a small pain to require users to map from t to z, but not a huge issue.  If we accept t, then do flag the issue that (someday) the DF might be voxel-varying.

[2020-06-15 17:38] tsalo opened #39 "Add mode parameter to CombinationTests to define null hypothesis"
This continues from https://github.com/neurostuff/PyMARE/issues/36#issuecomment-643081860, wherein @nicholst proposes supporting multiple methods for combining hypotheses. Specifically, the new `mode` parameter should support one-sided, two-sided, and concordant tests.

[2020-06-24 18:27] tsalo opened #40 "Negative tau2 error in DerSimonianLaird random effects estimation"
# Updated summary

There is a bug in Estimators wherein, during random-effects stats estimation, `tau2` may drop below zero and raise an exception. I don't know what's causing this, but for documentation of the actual bug, see https://github.com/neurostuff/PyMARE/issues/40#issuecomment-649123151.

To replicate (on my laptop):
[code]

# Original post

I tried running the `DerSimonianLaird` estimato

[2020-06-24 18:33] tyarkoni commented on #40
What behavior would you like it to have? Return NaNs at voxels where the input data contained NaNs?

[2020-06-24 18:36] tsalo commented on #40
I think returning NaNs at voxels where the input data contained all zeros or NaNs would be good. Unless zero would be better when all studies have zeros at a given voxel?

I think that methods like `get_re_stats()` will need to do some masking/unmasking w.r.t. NaNs.

[2020-06-24 18:40] tyarkoni commented on #40
Okay, I'll have it return NaNs. Might be a while before I can get to it though, so feel free to open a PR if you need this urgently.

[2020-06-24 23:19] tsalo commented on #40
I kept digging and found out that it's _not_ the all-zero voxels that are causing the problem. Sorry about the mis-reported bug!

I've isolated the voxel that consistently raises the exception, but I can't figure out what is causing it.

To replicate (on my laptop at least):
[code]

The behavior for all-zero voxels seems to be that tau2 ends up NaN, but the confidence intervals end up at their res

[2020-06-25 00:07] tyarkoni commented on #40
Setting aside the issue for this particular voxel (which we do need to get to the bottom of), I don't recommend treating voxels with missing data for studies as if the estimates and variances are `0`. My naive expectation is that PyMARE estimators will always return a `NaN` value if you do that (if they don't, let me know!), which would be fine since you could just mask those voxels out. BUT even

[2020-06-25 17:50] tsalo opened #41 "Expressions file not packaged with library"
When you `pip install pymare`, the expressions file is not bundled with the library, which causes an error when importing the library.

[code]

Thanks to @akimbler for discovering the bug.

[2020-06-25 18:32] tsalo opened #42 "Handling of missing data in Estimators"
Per @tyarkoni in https://github.com/neurostuff/PyMARE/issues/40#issuecomment-649137976:

Using DerSimonianLaird as an example estimator, here is the behavior I've found:
- Any NaNs in `y` --> tau2 = NaN
- All zeros in `y` --> tau2 = 0
- Any NaNs in `v` --> tau2 = NaN
- Any zeros in `v` --> tau2 = NaN

I think the behavior we want is to ignore any studies with NaNs in either `y` or `v`, and maybe r

[2020-06-25 18:40] tsalo commented on #40
I've opened #274 to continue discussion of handling missing data, and will change the title and summary for this issue to match the bug of unknown cause.

[2020-06-26 01:16] tyarkoni commented on #42
I think the current observed behavior is actually what we want. In principle the `y` values *could* all be exactly `0`; it's just extremely unlikely. Whereas the same is not true of `v`; you can't have a standard error of exactly `0`.

This does mean that users should never pass in values of `0` as `y` if what they actually mean is "the data is missing". But it's hard to imagine a context where on

[2020-06-26 16:31] tsalo commented on #42
I think that's reasonable.

That sounds good to me! In addition to the initialization flag, do you think it would useful to include `dof` in the model summary? I'm sure we could also use dof maps in NiMARE.

[2020-06-26 17:07] tyarkoni commented on #42
Yes, degrees of freedom should definitely be somewhere prominent in the summary.

I'm a bit apprehensive about DoF maps in NiMARE. Or rather, I definitely think there *should* be a DoF map, but I'm wary about allowing it to have non-constant values across voxels—i.e., having it show how many studies contributed to the estimate at each voxel. The concern is that users won't have an easy way to tell

[2020-06-26 17:31] nicholst commented on #42
I concur with your concerns, but I think as soon as anyone starts doing IMBA's with any heterogeneity we're going to get into the variable n (df) issue.  I don't see it as being at the top of the feature to-do list, but I'm pretty adamant that we should *engineer* NiMARE to not rule out or make it impossible to have varying n per voxel.  I leave it to you two on the Engineering details and where,

[2020-06-26 17:49] tyarkoni commented on #42
That sounds reasonable to me. The current implementation already allows varying n per voxels, so that's not a problem. It's just a question of how to present that to the user, and what they have to do to enable it. I think having a fairly angry argument name should be sufficient to get people to at least consult the docstring the first time. (Though I agree with you that over time it's likely to b

[2020-06-30 13:47] tyarkoni opened #44 "Use masked arrays in computations"
Related to #9, we should add support for masked arrays wherever possible—this will allow vectorized estimation even when the studies in parallel datasets differ (i.e., users pass in NaN values in different studies for different datasets).

[2020-07-10 16:09] tsalo commented on #44
I just want to keep track of the things I've noticed that need to be changed/account for in this:
- In `pymare.core.Dataset`, `_get_predictors()` converts `X` to a DataFrame. DataFrames don't work with masked arrays. They automatically fill the missing values with nans.
- In `pymare.stats.ensure_2d()` (called by Dataset during initialization), data are converted to arrays, removing the masks from

[2020-07-10 16:16] #41 closed

[2020-07-16 14:54] tsalo commented on #14
In https://github.com/neurostuff/NiMARE/issues/170#issuecomment-626898050, you ended up moving away from this idea, and now that NiMARE has its own set of transformations I think there isn't a use-case. Should we close this?

[2020-07-16 16:44] tyarkoni commented on #44
Thanks, this list is helpful. For most if not all of the above, working with masked operations shouldn't be too hard. E.g., while einsum won't natively do any masking, I think we can just pass a masking array as one of the operands, and multiplying by the mask in the summation will then produce the desired result.

That said, if it does look like working with masked arrays is going to require majo

[2020-07-19 15:57] tsalo commented on #31
I've enabled the releases on Zenodo's end, so the next time you make a release we just need to copy the auto-generated DOI badge from Zenodo into the README.

[2020-08-01 16:20] tsalo opened #45 "Python 3.5 support"
Given the use of f-strings, we need to drop Python 3.5 support, but we can include 3.8. I can also add tests for 3.7 and 3.8 to the CircleCI config.

[2020-08-08 20:46] #14 closed

[2020-08-08 20:56] tsalo opened #46 "Release 0.0.2"
Now that #43 has been merged, and NiMARE's next release needs v0.0.2 of PyMARE (https://github.com/neurostuff/NiMARE/issues/279), I think we should make the release. @tyarkoni would you be willing to do this?

[2020-08-19 20:33] tyarkoni commented on #45
Oh, woops. Probably better to drop that one f-string for now. Will fix. Thanks!

[2020-08-19 22:05] #45 closed

[2020-08-20 15:26] tsalo opened #48 "Add standardized effect size bias correction method"
We should support the bias correction method for low degrees of freedom from [Bossier, Nichols, & Moerkerke (2019)](https://www.biorxiv.org/content/10.1101/865881v1). I believe that Han has left academia, though, so if possible it would be great if someone else who's fairly familiar with the method could implement it in PyMARE.

This stems from https://github.com/neurostuff/NiMARE/issues/196#issue

[2020-09-22 01:49] tyarkoni commented on #36
@nicholst I'm finally getting around to implementing these tests as per your [comment above]([here](https://github.com/neurostuff/PyMARE/issues/36#issuecomment-643081860) and Winkler et al. (2016), and it all seems to be working nicely, except that I'm currently having second thoughts about whether it's a good idea to support the two-sided mode in the meta-analysis context.

I get that this is a p

[2020-09-22 05:59] nicholst commented on #36
Hey @tyarkoni,

The compelling use case for the two-sided mode is combining across SNP associations:  If I have, say, 10 T-maps based on 10 SNP-Brain associations, I have no way of knowing a priori whether the rare or common allele is the 'risk' allele, and thus you use this approach to combine any and all information.  HOWEVER, that use case really isn't applicable here because that's where the 1

[2020-09-22 16:55] tyarkoni commented on #36
Okay, I'll keep it then (it's already implemented, so not a pain at all to support).

To minimize abuse, I think I'll go with the following approach: (a) have the modes be called 'directed', 'non-directed', and 'concordant', which should hopefully already combat the proclivity to select "two-sided" to some degree, and (b) if the user selects 'non-directed', raise an error that requires them to set

[2020-09-22 17:13] tsalo commented on #36
Would it be enough to include a warning section in the docstring and maybe log a warning if `mode="non-directed"`?

[2020-09-22 17:29] tyarkoni commented on #36
Maybe... I'm *very* nervous about this. I just don't see many scenarios in which someone will have a legitimate use for an undirected test and still be using pymare/nimare (the use cases @nicholst mentions are all valid, but I think the probability of someone looking to conduct those kinds of tests will happen upon these packages is low; most likely they'll just use PALM). But I guess we can start

[2020-09-22 17:41] tyarkoni commented on #36
@nicholst, one more implementation question. You write:

We're only accepting z-score inputs now, but just to make sure I have it right, the z-scores passed in should always correspond to *one*-sided p-values, right? Even when `mode='undirected'`? Otherwise the `abs()` step seems weird, as the inputs already lack sign information, and we'd now be treating p-values close to 0.5 as equivalent to tho

[2020-09-22 20:22] nicholst commented on #36
On error vs warning, I'm with @tyarkoni for making it an error unless a flag has been set somewhere.

And on z-scores, yes, of course, a z-score is a z-score, with direction.  I was trying to map out what happens with p-value inputs, but that's not relevant apparently.

[2020-09-23 23:05] tyarkoni commented on #36
While we're on the topic of p-values, I've been thinking about what kind of p-value we want the combination tests to return, and it turns out to be not so straightforward (or at least, doesn't seem so to me). In the case of concordant and undirected tests, it's a non-issue, as these nulls are non-directional. But in the case of a directed test, which is the default, it would seem natural to return

[2020-09-24 06:03] nicholst commented on #36
OK... happy to discuss p-values.  While I'm all for encouraging a move away from one-sided as default, it seems we'll always need to have options to have one-sided.

And, btw, what you described in your original comment (before editing) is I think Owen's method he attributes to Pearson, where you pick the direction that is most favourable for each test.  It makes sense for genetics where the risk

[2020-09-24 22:16] #36 closed

[2020-09-24 22:16] #39 closed

[2020-10-09 21:19] tyarkoni commented on #40
It looks like this is an optimization problem—scipy's `minimize()` is failing to stay within the specified bounds (variances shouldn't be negative). The problem is that this seems to be *extremely* dependent on starting values for the Q-profiled CIs... I was able to reproduce the error from your inputs, but if I tweak the starting value even slightly, it converges successfully. Unfortunately, this

[2020-10-13 01:28] tsalo commented on #40
I'm totally fine not including CIs in NiMARE- at least unless users start requesting them (though I doubt that will happen any time soon). Thanks for the heads up.

[2020-10-13 13:50] tyarkoni opened #52 "Results objects break if user called fit() rather than fit_dataset()"
The various results classes all currently require access to the estimator's last-fitted `Dataset`, which won't exist now following the API change to allow `fit()` to be called with numpy arrays. The solution is to either implicitly create and store a `Dataset`, which would be easier, but feels counterproductive (since the point of eliminating `Dataset` inputs from `fit()` was to cut down overhead)

[2020-10-13 15:00] tsalo commented on #52
Based on local testing with NiMARE, I think this is specific to the `CombinationTest` classes.

[2020-10-13 15:03] #40 closed

[2020-10-13 15:09] tsalo opened #53 "Make CodeCov CI thresholds more liberal"
Currently, PRs register as failing if there is any decrease in coverage. This is flagging perfectly good PRs (e.g., #51). We should loosen up the thresholds in the CI settings.

[2020-10-13 18:26] #53 closed

[2020-11-10 18:22] tsalo commented on #46
Closed now that the release has been made!

[2020-11-10 18:22] #46 closed

[2020-11-21 21:38] safoora174 opened #55 "Missing data imputation method , and small study effect"
Hi
Is it possible to run missing data imputation method and small study effect in the package?

[2020-11-21 23:02] safoora174 commented on #55
@tsalo thank you, I thin I post it in a wrong place

[2020-11-23 23:53] tyarkoni commented on #55
@safoora174 there aren't currently any plans to support imputation in PyMARE; it seems out of scope. There are other Python packages you can use for imputation—e.g., see the [scikit-learn docs](https://scikit-learn.org/stable/modules/impute.html). Once you have an imputed dataset, you can then feed it to PyMARE.

[2020-11-24 16:05] safoora174 commented on #55
@tyarkoni thank you so much. I have read nearly all the missing data imputation packages in python, such as autoimpute, missingpy,impute , but non of them using methods which are used in metamiss function of metasense package in R. They do not use methods such as ACA, IMOR, GH.
Thanks for your comment

[2020-11-25 14:56] #55 closed

[2020-12-03 17:09] tsalo opened #56 "Docs build is failing"
I think the problem is that #38 was out-of-date. I'll try to dig into it at some point.

[2020-12-03 23:04] tsalo opened #57 "Invalid data type for einsum"
I am trying to run a meta-analysis with the DerSimonian-Laird estimator on a toy example, but I am getting an odd error in `einsum`.

### Data

[meta_data.txt](https://github.com/neurostuff/PyMARE/files/5639479/meta_data.txt)

|    |       educ |        age |   intercept |   educ_var |    age_var |   intercept_var | site   |   sample_size |
|---:|-----------:|-----------:|------------:|-----------

[2020-12-03 23:35] tyarkoni commented on #57
I can't reproduce this on my end, unfortunately (or maybe fortunately)... maybe try updating the dependencies (pandas and numpy being the most likely culprits)?

[2020-12-03 23:53] tsalo commented on #57
Oh wow.... sorry about this! It looks like the problem was that the DataFrame contained objects instead of floats, which saving to, and loading from, a file fixed.

[2020-12-03 23:53] #57 closed

[2020-12-08 20:02] safoora174 commented on #55
Dear Taylor,

I wrote some of missing data Imputation method myself and after analysis, I
have the summary risk ratios for each analyses. Do you know how I can
combine them in one forest plot? I searched a lot but couldn't find a
useful method. I found arviz , but I do not know how combine them in one
plot and how I can change the code to change the shape of each study plot
to a diamond one. Sorry

[2020-12-09 20:01] tsalo commented on #55
Hi Safoora,

I'm sorry to say that standard meta-analyses are mostly outside of my area of expertise. I don't know how to generate forest plots for summary risk ratios, or even generally, in Python.

[2020-12-09 20:05] #56 closed

[2020-12-09 20:11] tsalo opened #59 "Add mega-analysis vs. meta-analysis example"
@jdkent and I were working on a data exercise comparing mega- and meta-analysis for the ABCD-ReproNim course, and I was thinking that the general approach of taking a multi-site dataset, running a random intercepts model taking site into account, and comparing that to a "meta-analysis" where each site is treated as its own study would be a good addition to the PyMARE documentation.

Here is a basi

[2020-12-09 20:21] safoora174 commented on #55
Thank you so much dear Taylor.

On Wed, Dec 9, 2020 at 11:31 PM Taylor Salo <notifications@github.com>
wrote:

[2020-12-09 21:07] tyarkoni commented on #59
That's cool to illustrate the conceptual point that the two are different, though I'm not convinced it makes sense to add as a PyMARE example. Generally speaking, if you have access to the raw data from different sites, and the measurements are commensurable, you're better off doing the former—so you probably wouldn't be looking to use PyMARE if you had that kind of data. But I could be convinced.

[2020-12-09 21:16] tsalo commented on #59
Agreed. It's key to show that meta-analysis is inferior to mega-analysis. I could add text to make it clear that the meta-analysis version reflects a version where you are pulling those coefficients from different papers rather than a central dataset.

I hadn't thought of that. I think random intercepts would be enough for the mega-analysis for ABCD-ReproNim, but for this example I can include ran

[2021-03-03 23:03] jdkent opened #60 "Extra Dimension in output?"
ref neurostuff/nimare#449

opening this issue to follow up from NiMARE to see if this behavior is expected in PyMARE.

[2021-03-05 16:41] tsalo opened #61 "Invalid (zero) p-values in Fisher's results"
In https://github.com/neurostuff/NiMARE/pull/432 we saw some empty spots in what should be highly-significant regions in an example Fisher's meta-analysis (see screen shot below). Based on the warning traceback, it looks like the problem stems from PyMARE, rather than NiMARE.

<img width="742" alt="Screen Shot 2021-03-05 at 11 18 43 AM" src="https://user-images.githubusercontent.com/8228902/110145

[2021-03-05 16:46] tyarkoni commented on #61
Ah, yeah, thanks for catching this. Looks like we need to replace zeros with machine epsilon.

[2021-03-09 16:45] tsalo commented on #61
It looks like only CombinationTestResults aren't cropped (see below):

https://github.com/neurostuff/PyMARE/blob/ecc71fa6c469bf49f33e85c0db14a348f7876f68/pymare/results.py#L257-L260

We can probably use @jdkent's [`z_to_p()`](https://github.com/neurostuff/NiMARE/blob/c465d90d86bf50d9f30b0460c8b232e14fa83107/nimare/transforms.py#L448-L474) from https://github.com/neurostuff/NiMARE/pull/446.

While

[2021-04-14 15:54] tsalo commented on #61
I think it would be a good idea to resolve this before the next NiMARE release. I can open a PR to duplicate some of the functions in NiMARE that deal with this issue, but I'm still unsure about whether we should _move_ NiMARE's conversion functions to PyMARE or not. @jdkent @tyarkoni what would you prefer?

[2021-04-22 16:25] tsalo commented on #61
Fixing t_to_z in NiMARE seems to have resolved this issue completely. I'm not sure if we want to get ahead of any potential future problems and "fix" this in PyMARE as well, or if it's fine to address the immediate bug in NiMARE and close this.

[2021-04-22 18:42] jdkent commented on #61
I would say keep this open, but have it be a low priority.

My heuristic currently would be to move statistical functions over that would aid in meta-analysis of arrays of data and are not dependent (or unique to) brain images, which I believe the transforms are general.

[2021-04-23 16:38] tsalo commented on #61
I think most of the data type transforms _could_ be moved here, but it's possible that they would conflict with the expressions that are already here.

[2021-05-13 23:24] tyarkoni commented on #60
I assume the 4th dimension in NiMARE is being carried over from a reshaping from 2d, or something, but yes, it is the case that PyMARE internally uses 2d for estimates. This is because the 2nd dimension is for parallel datasets (mainly useful for algorithms that can be vectorized). So the expectation would be that NiMARE passes voxels in that second dimension, and then reshapes back to 3d on the r

[2021-05-13 23:24] #60 closed

[2021-05-13 23:29] tyarkoni commented on #48
We currently do use the Hedges approximation (if the user requests the corresponding ES measure). Implementing the exact correction would likely be very slow/hacky given that the computations are done symbolically in SymPy, and I don't think the gamma distribution is currently supported. (With the benefit of hindsight, one can certainly question the wisdom of doing this symbolically, but unless we

[2021-05-13 23:29] #48 closed

[2021-05-13 23:30] tyarkoni commented on #44
I was wrong, it's not straightforward. Will leave open, but doubt I'll be able to work on it.

[2021-07-01 01:09] shashankbansal6 opened #62 "PyMARE to estimate on higher dimensional data"
We are trying to use a pymare-based second-level estimator (`WeightedLeastSquares`) in fitlins. See [fitilins issue#290](https://github.com/poldracklab/fitlins/issues/290)

cc: @effigies

Currently, I am not sure how to use pymare to fit the effect_maps from the first-level model at the Subject-level. Each subject has 4 runs. Here's what I tried to do:

Following are the estimates and variances we

[2021-07-01 01:17] tsalo commented on #62
I think you need to flatten to 2D instead of 4D. In PyMARE, data are assumed to be 1D or 2D.

[2021-07-01 01:23] effigies commented on #62
To ensure we get it right, probably best to lean on the work already in nilearn: https://nilearn.github.io/manipulating_images/masker_objects.html

[2021-07-01 01:26] tsalo commented on #62
👍 That's how NiMARE does it. NiMARE's image-based meta-analysis estimators are just light wrappers around the PyMARE estimators with masking and unmasking done with nilearn.

[2021-07-01 01:29] effigies commented on #62
@shashankbansal6 This might be a good guide: https://github.com/neurostuff/NiMARE/blob/d3cd27257b74615209d014b7bcdf9eb13823b73a/nimare/meta/ibma.py#L217-L227

[2021-09-29 15:48] tsalo commented on #62
@shashankbansal6 is this issue good to close?

[2021-09-29 16:28] shashankbansal6 commented on #62
Yeah, sorry should have closed this. Thanks for the help.

[2021-09-29 16:28] #62 closed

[2021-10-18 14:25] tsalo opened #63 "Drop Python 3.5 support, add Python 3.8 and 3.9 support"
To keep it in-line with NiMARE.

[2021-10-18 14:27] tsalo opened #64 "RTD build failing"
There seem to be a couple of issues with the RTD build, but the one I'm currently seeing is a problem with `sphinx_gallery_conf`:

[code]

I think I've seen this before, and I think it's due to a change in the Sphinx Gallery extension's interface. We can pin the appropriate version and fix the key.

[2021-12-17 19:37] #64 closed

[2021-12-17 20:22] tsalo opened #67 "Problems with PyStan"
PyStan's API changed with version 3, which requires Python 3.7+. I have tried to update the `StanMetaRegression` code to work with the new API in #66, but what appears to be the same general method is now failing.

At the moment, I am going to probably just skip the `StanMetaRegression` test and add a warning to the class's docstring. I don't have the time or expertise necessary to debug this ATM.

[2021-12-17 20:44] #63 closed

[2021-12-17 21:21] tsalo opened #70 "Add workflow for linting"
I'd like to add a GHA that runs flake8.

[2021-12-17 21:34] #31 closed

[2021-12-18 19:25] tsalo commented on #70
Closed by #72.

[2021-12-18 19:25] #70 closed

[2021-12-20 19:43] tsalo opened #75 "Settings for metafor comparison"
I'm having trouble determining how metafor was called to produce the values we're testing against in our CI. @tyarkoni do you happen to have that info available?

For example, to compare DerSimonian-Laird estimator results, I did the following:

## metafor

[code]

[code]

## PyMARE

[code]

| name      |   estimate |       se |   z-score |   p-value |   ci_0.025 |   ci_0.975 |
|:----------|------

[2021-12-20 21:47] tyarkoni commented on #75
I think you're feeding intercepts to the `Dataset` in `X`, but leaving `add_intercept` set to `True`. So you get two identical columns of 1s, which is why both estimates look identical. Try dropping `X` (or setting intercept to `False`) and see if that fixes it.

[2021-12-20 21:59] tsalo commented on #75
Oh, you're right. Thanks!

|    |   name |   estimate |      se |   z-score |   p-value |   ci_0.025 |   ci_0.975 |
|---:|-------:|-----------:|--------:|----------:|----------:|-----------:|-----------:|
|  0 |      0 |    1.76788 | 1.04909 |   1.68515 | 0.0919593 |  -0.288304 |    3.82407 |

[2021-12-20 21:59] #75 closed

[2022-01-06 17:26] tsalo opened #76 "Run CI regularly (nightly?)"
At the moment, this package isn't really under active development, so we should probably have some kind of regular CI running with the most recent versions of all of PyMARE's dependencies.

[2022-01-06 20:00] #76 closed

[2022-03-07 20:53] tsalo opened #80 "Sympy 1.10 removes `sympy.compatibility.core`"
This stems from https://github.com/neurostuff/NiMARE/pull/654.

[code]

[2022-03-07 21:12] #80 closed

[2022-03-21 15:20] tsalo opened #83 "Add example(s) of meta-regressions"
I believe all of the examples are basic mean effect analyses. It would be nice to have some meta-regressions documented as well.

[2022-05-22 15:13] tsalo opened #85 "Add heterogeneity measures to Estimators"
It looks like DerSimonianLaird calculates Cochran's Q already, so we should be able to (1) extend it to calculate H2 and I2 and (2) return all three (or even just Q and I2) as outputs.

This is related to https://github.com/neurostuff/NiMARE/pull/591.

[2022-05-23 23:02] tsalo commented on #85
It looks like we actually have those already. They're just calculated in the `MetaRegressionResults` rather than the Estimator, which makes sense.

[2022-05-23 23:11] #85 closed

[2022-05-26 16:53] tsalo opened #88 "Make `X` optional in `Dataset` creation"
It seems like, since `add_intercept` is `True` by default, you shouldn't have to provide X when you're only doing a mean analysis.

[2022-05-26 17:17] tsalo opened #91 "Create plotting module with basic diagnostic plots"
At minimum, we could add functions for:

- [forest plots](https://en.wikipedia.org/wiki/Forest_plot)
    - I'm realizing that it would be useful to have study identifiers for diagnostics.
- [funnel plots](https://en.wikipedia.org/wiki/Funnel_plot)
- [Galbraith plots](https://en.wikipedia.org/wiki/Galbraith_plot)

[2022-05-26 18:23] #88 closed

[2022-05-27 14:04] tsalo opened #92 "Move statistic conversion functions from NiMARE to PyMARE"
If we want PyMARE to be flexible, then I think we need to account for different types of data. NiMARE already includes a bunch of functions for converting a lot of different values, so I think we should just migrate those functions over here and add some examples using them.

The new datasets module should ultimately be able to provide us with a range of meta-analytic datasets that have different

[2022-05-27 14:05] tsalo commented on #92
Of course, the expressions module automatically does a lot of these transforms, but users may want to handle the conversions manually.

[2022-05-27 14:07] tsalo opened #93 "Add example using `effectsize` module"
This is one module that is not well documented.

[2022-05-27 15:54] tsalo opened #95 "Add optional study identifiers to `Dataset`"
This stems from #91. If we want to make it easy to identify outliers, we need to be able to identify individual studies. We could perhaps add an `id` parameter to `Dataset.__init__()`, which would default to a simple integer index.

[2022-06-01 21:49] tsalo opened #97 "Maximum likelihood-based Estimators return singleton standard errors"
[code]

[code]

Note that `se` for VarianceBasedLikelihoodEstimator is (1, 1), but for Hedges it's (1, 973). I don't know if this is the expected behavior, but it surprised me in https://github.com/neurostuff/NiMARE/pull/691.

[2022-06-02 14:57] tsalo commented on #97
I _think_ the problem is that the `fe_cov`/`inv_cov` fed to the results object is shaped (1, 1, 973) for Hedges, but only (1, 973) for VarianceBasedLikelihoodEstimator. `_loopable` seems to only make the `inv_cov` 2D, when it should be 3D.

[2022-06-02 16:25] tsalo opened #99 "Datasets do not check input array shapes/sizes"
To reproduce the problem, use the following code

[code]

Here's the traceback:

[code]

Note that the exception is raised when the Estimator is fitted, rather than when the Dataset is initialized, and it's the product of a mathematical operation, rather than an explicit check.

NOTE: Related to #37.

[2022-06-02 18:41] tsalo opened #101 "Convert permutation tests to functions"
`MetaRegressionResult.permutation_test` and `CombinationTestResult.permutation_test` both require access to the Result object, which is a bit much for NiMARE Estimators to hold onto between the fitting and correction steps. If we could convert the methods to functions, and possibly distinguish the null distribution creation step from the correction step, I think that could help NiMARE.

This stems

[2022-06-02 19:46] tsalo opened #102 "Revisit permutation test methodology"
In working on #101, I've come across a few things in the permutation test methods that confuse me.

First, the permutation tests loop over datasets and parallelize across permutations. This makes sense in a non-imaging context, when you won't have many, if any, parallel datasets. However, in neuroimaging meta-analyses, you'll typically have many more parallel datasets (e.g., voxels) than permutati

[2022-06-03 15:29] #61 closed

[2022-06-03 15:31] tsalo commented on #5
Here's an example meta-regression summary from metafor:

[code]

I'm not sure what kinds of plots we might want to implement though.

[2022-06-03 15:35] tsalo opened #103 "Merge `Estimator.summary()` and `Estimator.fit()`"
In PyMARE, `fit` and `fit_dataset` both return Estimators, rather than Results. Instead, there's an additional step of calling `Estimator.summary()` to produce the Results objet. This is different from NiMARE, where fitting an Estimator returns a MetaResult.

I don't know if the extra step is necessary. I.e., does `fit` returning an Estimator instead of a Result serve a purpose?

[2022-06-04 14:43] #97 closed

[2022-06-05 14:42] #52 closed

[2022-06-09 20:22] JulioAPeraza commented on #99
In addition to checking the number of rows of `y` against the number of rows of `X`, should we also add checks for `y vs. v` and `y vs. n`?

[2022-06-09 20:30] tsalo commented on #99
That would be great! The number of rows _and_ columns of v need to match y. I'm not sure if the number of columns of n need to match y, but the number of rows should.

[2022-06-12 22:39] #99 closed

[2022-06-17 10:03] HippocampusGirl commented on #44
An alternative to using masked arrays would be to call the statistics code separately for each voxel, filtering the input matrices to remove missing data. I have a working example at <https://github.com/HALFpipe/HALFpipe/blob/main/halfpipe/stats/fit.py>.

[2022-06-20 16:35] tsalo commented on #44
I think the problem with looping across voxels would be that the estimation is vectorized, so it can work across many voxels at the same time. I think switching to looping would slow things down, unless we divided the data into _groups_ of voxels, based on patterns of missing data, and looped across those groups.

[2022-07-31 12:51] tsalo opened #109 "Failing tests"
In this week's scheduled CI, tests started failing: https://github.com/neurostuff/PyMARE/actions/runs/2767886868

[2022-07-31 12:51] tsalo opened #110 "isort failing in CI"
Starting in this week's scheduled CI, isort began failing. It must be a dependency issue. https://github.com/neurostuff/PyMARE/runs/7595457985?check_suite_focus=true

[2022-08-09 14:36] tsalo commented on #110
I think this was resolved on isort's side.

[2022-08-09 14:36] #110 closed

[2022-08-09 14:36] tsalo commented on #109
@JulioAPeraza will you have time this week to look into this?

[2022-08-09 14:40] JulioAPeraza commented on #109
Sure!

[2022-08-09 19:10] JulioAPeraza commented on #109
I think the issue comes from `scipy.optimize.minimize` in `pymare.stats.q_profile`, after the latest scipy release.
https://github.com/neurostuff/PyMARE/blob/19af39959baa34eea4a34aa564945a0cbef30f62/pymare/stats.py#L111-L113

[2022-08-10 13:00] #109 closed